<head>
	<meta charset="UTF-8">
	<title>Failed</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<main>
	<h1>Failed</h1>
    {{#if messages}}
        <p class="error">{{messages}}</p>
    {{/if}}
    <p>You have not logged in. Please log in.</p>
</main>