<head>
    <title>Log In</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<main>
    <h1>Log In</h1>
    <section>
        <form action="/login" method="POST" id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>
            <button type="submit">Submit</button>
        </form>
    </section>
</main>