<main>
    <section class="intro">
        <h1>What is a palindrome?</h1>
        <p>A palindrome is a word or phrase that reads the same when reversed</p>
        <p>Examples include:</p>
        <ul>
            <li>Racecar</li>
            <li>He did, eh?</li>
            <li>Poor Dan is in a droop</li>
        </ul>
    </section>
    <section class="user-input">
        <form method="POST" action="/result">
            <label for="text-to-test">Enter your word/phrase:</label>
            <br>
            <input type="text" id="text-to-test" name="text-to-test"/>
            <br>
            <br>
            <button type="submit">Check</button>
        </form>
    </section>
</main>